{% extends "::base.html.twig" %}

{% block content %}
    <div class="row" ng-controller="BoitierController">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Parametrage Boitier</h4>
                    <form id="login-form" method="post" role="form" name="formBoitier">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="libelleBoitier">Nom de la boitier</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="libelleBoitier" id="libelleBoitier" tabindex="1" class="form-control" placeholder="Nom de la boitier" ng-model="boitier.libelleBoitier">
                            </div>
                            <div class="col-sm-4">
                                <button class="form-control btn btn-info" ng-click="create(boitier)"> Enregistrer</button>
                            </div>
                        </div>
                    </form>
                    <div class="panel panel-default">
                        <div class="panel-heading">Liste Boitiers</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nom Boitier</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="boitier in boitiers">
                                        <th scope="row">//$index+1//</th>
                                        <td><span ng-hide="boitier.visible">//boitier.libelleBoitier//</span> <input type="text" ng-show="boitier.visible" ng-model="boitier.libelleBoitier"></td>
                                        <td><button ng-hide="boitier.visible" ng-click="update(boitier)" class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i> Modifier</button><button ng-show="boitier.visible" ng-click="valideUpdate(boitier)" class="btn btn-info"><i class="glyphicon glyphicon-floppy-saved"></i> Valider</button></td>
                                        <td><button ng-click="delete(boitier)" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Supprimer</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock content%}
