{% extends '::base.html.twig' %}


{% block body %}
    <div ui-view="nav"></div>

    <script type="application/javascript" src="bundles/fosjsrouting/js/router.js"></script>
    <script type="application/javascript" src="js/fos_js_routes.js"></script>

    <script type="application/javascript" src="client/bower_components/angular/angular.min.js"></script>
    <script type="application/javascript" src="client/bower_components/angular-animate/angular-animate.js"></script>
    <script type="application/javascript" src="client/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="application/javascript" src="client/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="client/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="application/javascript" src="client/bower_components/lodash/lodash.min.js"></script>
    <script type="application/javascript" src="client/bower_components/restangular/dist/restangular.min.js"></script>
    <script type="application/javascript" src="client/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="application/javascript" src="client/bower_components/es5-shim/es5-shim.min.js"></script>
    <script type="application/javascript" src="client/bower_components/es5-shim/es5-sham.min.js"></script>
    <script type="application/javascript" src="client/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script type="application/javascript" src="client/bower_components/spin.js/spin.js"></script>
    <script type="application/javascript" src="client/bower_components/angular-spinner/angular-spinner.min.js"></script>
    <script type="application/javascript" src="client/bower_components/ng-dialog/js/ngDialog.min.js"></script>
    <script type="application/javascript" src="client/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script type="application/javascript" src="client/app/cryptoJS/sha1.js"></script>
    <script type="application/javascript" src="client/app/cryptoJS/sha512.js"></script>
    <script type="application/javascript" src="client/app/cryptoJS/md5.js"></script>
    <script type="application/javascript" src="client/app/cryptoJS/enc-base64-min.js"></script>

    <script type="application/javascript" src="client/app/app.js"></script>
    <script type="application/javascript" src="client/app/routing.js"></script>
    <script type="application/javascript" src="client/app/config.js"></script>

    <script type="application/javascript" src="client/app/services/VilleService.js"></script>
    <script type="application/javascript" src="client/app/services/QuartierService.js"></script>
    <script type="application/javascript" src="client/app/services/UserService.js"></script>
    <script type="application/javascript" src="client/app/services/CategorieService.js"></script>
    <script type="application/javascript" src="client/app/services/CarburantService.js"></script>
    <script type="application/javascript" src="client/app/services/BoitierService.js"></script>
    <script type="application/javascript" src="client/app/services/MarqueService.js"></script>
    <script type="application/javascript" src="client/app/services/ModeleService.js"></script>
    <script type="application/javascript" src="client/app/services/ModeleMarqueService.js"></script>
    <script type="application/javascript" src="client/app/services/ImageService.js"></script>
    <script type="application/javascript" src="client/app/services/VoitureService.js"></script>
    <script type="application/javascript" src="client/app/services/LoginService.js"></script>
    <script type="application/javascript" src="client/app/services/InscriptionService.js"></script>
    <script type="application/javascript" src="client/app/services/ProfilService.js"></script>

    <script type="application/javascript" src="client/app/services/Base64.js"></script>
    <script type="application/javascript" src="client/app/services/TokenHandler.js"></script>
    <script type="application/javascript" src="client/app/services/AuthHandler.js"></script>
    <script type="application/javascript" src="client/app/services/Salt.js"></script>
    <script type="application/javascript" src="client/app/services/Digest.js"></script>

    <script type="application/javascript" src="client/app/controllers/IndexController.js"></script>
    <script type="application/javascript" src="client/app/controllers/MainController.js"></script>
    <script type="application/javascript" src="client/app/controllers/VilleController.js"></script>
    <script type="application/javascript" src="client/app/controllers/QuartierController.js"></script>
    <script type="application/javascript" src="client/app/controllers/CategorieController.js"></script>
    <script type="application/javascript" src="client/app/controllers/AnnonceVoitureController.js"></script>
    <script type="application/javascript" src="client/app/controllers/ImageAnnonceVoitureController.js"></script>
    <script type="application/javascript" src="client/app/controllers/CarburantController.js"></script>
    <script type="application/javascript" src="client/app/controllers/BoitierController.js"></script>
    <script type="application/javascript" src="client/app/controllers/MarqueController.js"></script>
    <script type="application/javascript" src="client/app/controllers/ModeleController.js"></script>
    <script type="application/javascript" src="client/app/controllers/ModeleMarqueController.js"></script>
    <script type="application/javascript" src="client/app/controllers/SearchVoitureController.js"></script>
    <script type="application/javascript" src="client/app/controllers/LoginController.js"></script>
    <script type="application/javascript" src="client/app/controllers/InscriptionController.js"></script>
    <script type="application/javascript" src="client/app/controllers/ProfilController.js"></script>
    <script type="application/javascript" src="client/app/controllers/ShowVoitureController.js"></script>
    <script type="application/javascript" src="client/app/controllers/EditVoitureController.js"></script>
    <script type="application/javascript" src="client/app/controllers/VoitureByUserController.js"></script>

    <script type="application/javascript" src="client/app/directives/equalsTo.js"></script>
    <script type="application/javascript" src="client/app/directives/ntThumb.js"></script>
    <script type="application/javascript" src="client/app/directives/ntBtnImage.js"></script>
    <script type="application/javascript" src="client/app/directives/ntWrapper.js"></script>
    <script type="application/javascript" src="client/app/directives/ntPopover.js"></script>
    <script type="application/javascript" src="client/app/directives/ntRemove.js"></script>

    <script type="application/javascript" src="client/app/ui.bootstrap/ui-bootstrap-tabs-0.13.4.js"></script>
{% endblock body %}