{% extends '::base_prod.html.twig' %}


{% block body %}

    <div ui-view="nav">
    </div>

    <br>

    <span us-spinner spinner-key="nt-spinner"></span>
    <div ui-view="content">
    </div>

    <script src="https://cdn.jsdelivr.net/g/jquery@2.1.4,angularjs@1.4.7(angular.min.js+angular-animate.min.js+angular-cookies.min.js),bootstrap@3.3.6,lodash@3.10.1,angular.ui-router@0.2.15,restangular@1.5.1,es5.shim@4.1.13(es5-shim.min.js+es5-sham.min.js),spinjs@2.3.2,bxslider@4.2.5,angular.bootstrap@0.13.3(ui-bootstrap-tpls.min.js),jquery.zoom@1.7.14,crypto-js@3.1.2(components/core-min.js)"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/2.1.4/angular-file-upload.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-spinner/0.8.0/angular-spinner.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/3.1.1/jquery.bootstrap-touchspin.min.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
    <script type="application/javascript" src="https://s3.eu-central-1.amazonaws.com/nicetruc/all.js"></script>
{% endblock body %}