{% extends '::base_dev.html.twig' %}


{% block body %}

    <div ui-view="nav">
    </div>
    <br>
    <div id="ntSpinner" us-spinner spinner-key="nt-spinner"></div>
    <div ui-view="body">
        <div class="container-fluid">
            <div ui-view="content">
            </div>
        </div>
    </div>
    
    
    

    <a href="#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false">
        <i class="fa fa-angle-double-up"></i>
    </a>
        
    <script type="application/javascript" src="bundles/compiled/all.js"></script>

{% endblock body %}