{% extends '::base.html.twig' %}


{% block body %}
    <div ui-view="nav"></div>

    <script type="application/javascript" src="client/app/cryptoJS/sha1.js"></script>
    <script type="application/javascript" src="client/app/cryptoJS/sha512.js"></script>
    <script type="application/javascript" src="client/app/cryptoJS/md5.js"></script>
    <script type="application/javascript" src="client/app/cryptoJS/enc-base64-min.js"></script>

    <script type="application/javascript" src="bundles/all.js"></script>

{% endblock body %}