{% extends "::base.html.twig" %}

{% block content %}
    <div class="row" ng-controller="VilleController">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Parametrage Ville</h4>
                    <form id="login-form" method="post" role="form" name="formVille">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="libelleVille">Nom de la ville</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="libelleVille" id="libelleVille" tabindex="1" class="form-control" placeholder="Nom de la ville" ng-model="ville.libelleVille">
                            </div>
                            <div class="col-sm-4">
                                <button class="form-control btn btn-120" ng-click="create(ville)"> Enregistrer</button>
                            </div>
                        </div>
                    </form>
                    <div class="panel panel-default">
                        <div class="panel-heading">Liste Villes</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nom Ville</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="ville in villes">
                                        <th scope="row">//$index+1//</th>
                                        <td><span ng-hide="ville.visible">//ville.libelleVille//</span> <input type="text" ng-show="ville.visible" ng-model="ville.libelleVille"></td>
                                        <td><button ng-hide="ville.visible" ng-click="update(ville)" class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i> Modifier</button><button ng-show="ville.visible" ng-click="valideUpdate(ville)" class="btn btn-info"><i class="glyphicon glyphicon-floppy-saved"></i> Valider</button></td>
                                        <td><button ng-click="delete(ville)" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Supprimer</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock content%}
