<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="mdoutoure">
        <base href="/">
        <title>{% block title %}nicetruc!{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="client/app/views/css/all.css" type="text/css">
    </head>
    <body>


    <div class="container-fluid">
        {% block body %}

        {% endblock body %}
    </div>

    </body>
</html>
