<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="mdoutoure">

        <title>{% block title %}nicetruc!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'client/bower_components/bootstrap/dist/css/bootstrap.min.css'
                'client/app/views/css/main.css'
                'client/app/views/css/inscription.css'
            filter='cssrewrite'
            output='client/compiled/main.css'%}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
        <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
        <![endif]-->
    </head>
    <body>
    {% block nav %}
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">NiceTruc</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#/test">Test</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ui-sref="inscription" id="btnAbout">Inscription</a></li>
                        <li><a ui-sref="connexion" id="btnAbout">Connexion</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    {% endblock %}

    {% block body %}

    {% endblock %}
    {% block javascripts %}
        {% javascripts
            'client/bower_components/angular/angular.min.js'
            'client/bower_components/jquery/dist/jquery.min.js'
            'client/bower_components/bootstrap/dist/js/bootstrap.min.js'
            'client/bower_components/angular-ui-router/release/angular-ui-router.min.js'

            'client/app/app.js'
            'client/app/routing.js'

            'client/app/directives/equalsTo.js'
        output='client/compiled/main.js'%}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    </body>
</html>
