# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database.host: 
    database.port: 
    database.name: 
    database.user: 
    database.password: 
    mailertransport: 
    mailerhost: 
    maileruser: 
    mailerpassword: 
    mailer2re: 
    aws_s3_bucket_name: 
    aws_s3_key: 
    aws_s3_secret_key: 
    aws_s3_region: 
    aws_s3_base_url: 
    secret: 
