{% extends "::base.html.twig" %}

{% block content %}
    <section class="col-md-8 col-md-offset-2">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </section>
{% endblock content%}
