#annonce {
    -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.7);
     box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.7);
     background: #f5f5f6;
     margin-bottom: 50px;
}

.etape {
    position: relative;
}

#etape1 {
    padding: 5px;
    box-shadow: 0 1px 0 #dfdfe0, 0 2px 0 #e7e7e7, 0 3px 0 #fcfcfc, 0 4px 0 #f7f7f8, 0 5px #ededee;
}

#etape2 {
    border-bottom: 1px solid #f2f2f3;
    box-shadow: 0 1px 0 #dfdfe0, 0 2px 0 #e7e7e7, 0 3px 0 #fcfcfc, 0 4px 0 #f7f7f8, 0 5px #ededee;
    padding-bottom: 10px;
}

#mainPicture {
    background-image: url(/client/app/images/voiture-large.png);
    background-repeat: no-repeat;
    border: 1px solid #7f7f7f;
    border-radius: 0;
    height: 16em;
    min-width: 100%;
    background-size: 16em;
    background-position: center center;
    text-align: center;
    cursor: pointer;
    cursor: hand;
}

.otherPicture {
    background-image: url(/client/app/images/voiture-small.png);
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #d6d6d6;
    min-height: 47px;
    margin-left: 2%;
    margin-right: 1%;
    cursor: pointer;
}
#otherPictures
{
    padding: 0px !important;
}

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}

.btn-ta {
    border-radius: 0px;
    -webkit-box-shadow: 1px 1px 2px #666666;
    -moz-box-shadow: 1px 1px 2px #666666;
    box-shadow: 1px 1px 2px #666666;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.cursorPointer{
    cursor: pointer;
}
.cursorPointer:hover {
    text-decoration: underline;
}

.mtop10{
    margin-top: 10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}