a{
    color: black;
}
.white{
    color: white!important;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.userMenu{
    display: block;
    font-size: 15px;
    padding-top: 20px;
    text-decoration: none;
    transition: opacity 0.2s ease-out 0s;
    -webkit-transition: opacity 0.21s 
}
.userMenu>li{
    padding-left: 10px;
}
li {
    display: inline;
}

.list-li > li{
    display: list-item;
}

.mouse-pointer
{
    cursor: pointer!important;
}
