a{
    color: black;
}
.white{
    color: white!important;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.userMenu{
    display: block;
    font-size: 15px;
    padding-top: 20px;
    text-decoration: none;
    transition: opacity 0.2s ease-out 0s;
    -webkit-transition: opacity 0.21s 
}
.userMenu>li{
    padding-left: 10px;
}
li {
    display: inline;
}

.list-li > li{
    display: list-item;
}

.mouse-pointer
{
    cursor: pointer!important;
}

.btn-primary {
    color: #fff;
    background-color: #3498DB;
    border-color: #3498DB;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3498DB;
    border-color: #3498DB;
}
.navbar {
    background: #384248;
    margin-bottom: 0;
    border-color: #384248;
}

.navbar {
    background: #3498DB;
    margin-bottom: 0;
    border-color: #3498DB;
}

.navbar-inverse {
    background-color: #3498DB;
    border-color: #3498DB;
}

header .logo a span {
    color: #3498DB;
}
.prod-caption{
    position: relative;
}
.prod-caption>div {
    position: relative;
}

div.title {
    display: block;
    border-bottom: 3px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-family: 'open_sanscondensed_light';
    font-size: 22px;
    color: #4c7ed3;
}