
<div class="col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12" id="annonce">
        <div class="col-md-6 col-xs-12  mg-top-20">
            <form class="form-horizontal">
                <fieldset>
                    <!--marque-->
                    <div class="form-group">
                        <label for="Marque" class="text-primary control-label col-md-4">Marque :</label>
                        <div class="col-md-7">
                            <select class="form-control" tabindex="0" id="marque" ng-model="search.marque"
                                    ng-options="marque.libelleMarque
                                            for marque in marques track by marque.id"
                                    ng-change="loadModele(search.marque)">
                            </select>
                        </div>
                    </div>
                    <!--modele-->
                    <div class="form-group">
                        <label for="Marque" class="text-primary control-label col-md-4">Modele :</label>
                        <div class="col-md-7">
                            <select class="form-control" tabindex="1" id="modele" ng-model="voiture.modele"
                                    ng-options="modele.libelleModele
                                            for modele in modeles track by modele.id">
                            </select>
                        </div>
                    </div>
                    <!--kmParcouru-->
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            <label for="kmParcouru" class="text-primary control-label">Kilométrage :</label>
                        </div>
                        <div class="col-md-7">
                            <input id="kmParcouru" name="kmParcouru" ng-model="voiture.kmParcouru" tabindex="2" placeholder="Kilométrage *" type="number" class="form-control" min="0" max="999999">
                        </div>
                    </div>
                    <!--anneeModele-->
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            <label for="anneeModele" class="text-primary control-label">Année du modèle :</label>
                        </div>
                        <div class="col-md-7">
                            <input id="anneeModele" name="anneeModele" ng-model="voiture.anneModele" tabindex="3" placeholder="Année du modèle :" type="number" class="form-control" min="1900" max="//date//">
                        </div>
                    </div>
                    <!--Prix-->
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            <label for="prix" class="text-primary control-label">Prix de vente :</label>
                        </div>
                        <div class="col-md-7">
                            <input id="prix" name="prix" ng-model="voiture.prix" tabindex="4" placeholder="Prix de vente :" type="number" class="form-control" min="0">
                        </div>
                    </div>
                    <!--nbrePorte-->
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            <label for="nbrePorte" class="text-primary control-label">Nombre de portes:</label>
                        </div>
                        <div class="col-md-7">
                            <input id="nbrePorte" name="nbrePorte" ng-model="voiture.nbrePorte" tabindex="5" placeholder="Nombre de portes :" type="number" class="form-control" min="0">
                        </div>
                    </div>
                    <!--nbreSiege-->
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            <label for="nbreSiege" class="text-primary control-label">Nombre de sieges:</label>
                        </div>
                        <div class="col-md-7">
                            <input id="nbreSiege" name="nbreSiege" ng-model="voiture.nbreSiege" tabindex="6" placeholder="Nombre de sieges :" type="number" class="form-control" min="0">
                        </div>
                    </div>
                    <!--description-->
                    <div class="form-group">
                        <label for="description" class="text-primary control-label col-md-4">Description :</label>
                        <div class="col-md-7">
                            <textarea class="form-control" cols="20" id="description" ng-model="voiture.description"  maxlength="1600" minlength="20" name="description" placeholder="Description de votre annonce *" rows="4"></textarea>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-6 col-xs-12  mg-top-20">
            <div class="row title col-md-12">
                <strong class="text-primary">Mes photos</strong>
            </div>
            <div class="row content">
                <div class="carousel slide col-md-12" data-ride="carousel" data-interval="false">

                    <div class="carousel-inner margin-bottom-20 col-md-12">
                        <div class="item active srle">
                            <div id="mainPicture" class="thumbnail without-margin">

                                <div id="mainPictureLinkAsText" class="text-primary"><strong>Ajouter une photo</strong></div>
                                <span class="spinner"><i class="icon-spin icon-spinner"></i></span>

                            </div>
                        </div>
                    </div>


                    <div class="thumbnails-container col-md-12 col-sm-12 col-xs-12">
                        <ul class="thumbnails-carousel clearfix" id="otherPictures">

                            <li class="col-md-3 col-sm-4 col-xs-2"><span class="thumbnail otherPicture"></span></li>

                            <li class="col-md-3 col-sm-4 col-xs-2"><span class="thumbnail otherPicture"></span></li>

                            <li class="col-md-3 col-sm-4 col-xs-2"><span class="thumbnail otherPicture"></span></li>

                            <li class="col-md-3 col-sm-4 col-xs-2"><span class="thumbnail otherPicture"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
