
<div class="col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12" id="annonce">
    <div  id="etape1">
        <div class="col-md-6 col-xs-12">
            <form class="form-horizontal">
                <fieldset>
                    <!--marque-->
                    <div class="form-group">
                        <label for="Marque" class="text-primary control-label col-md-4">Marque :</label>
                        <div class="col-md-7">
                            <select class="form-control" tabindex="0" id="marque" ng-model="search.marque"
                                    ng-options="marque.libelleMarque
                                            for marque in marques track by marque.id"
                                    ng-change="loadModele(search.marque)">
                            </select>
                        </div>
                    </div>
                    <!--modele-->
                    <div class="form-group">
                        <label for="Marque" class="text-primary control-label col-md-4">Modele :</label>
                        <div class="col-md-7">
                            <select class="form-control" tabindex="1" id="modele" ng-model="voiture.modele"
                                    ng-options="modele.libelleModele
                                            for modele in modeles track by modele.id">
                            </select>
                        </div>
                    </div>
                    <!--kmParcouru-->
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            <label for="kmParcouru" class="text-primary control-label">Kilométrage :</label>
                        </div>
                        <div class="col-md-7">
                            <input id="kmParcouru" name="kmParcouru" ng-model="voiture.kmParcouru" placeholder="Kilométrage *" type="number" class="form-control" min="0" max="999999">
                        </div>
                    </div>
                    <!--anneeModele-->
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            <label for="anneeModele" class="text-primary control-label">Année du modèle :</label>
                        </div>
                        <div class="col-md-7">
                            <input id="anneeModele" name="anneeModele" ng-model="voiture.anneModele" placeholder="Année du modèle :" type="number" class="form-control" min="1900" max="//date//">
                        </div>
                    </div>
                    <!--Prix-->
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            <label for="prix" class="text-primary control-label">Prix de vente :</label>
                        </div>
                        <div class="col-md-7">
                            <input id="prix" name="prix" ng-model="voiture.prix" placeholder="Prix de vente :" type="number" class="form-control" min="0">
                        </div>
                    </div>
                    <!--nbrePorte-->
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            <label for="nbrePorte" class="text-primary control-label">Nombre de portes:</label>
                        </div>
                        <div class="col-md-7">
                            <input id="nbrePorte" name="nbrePorte" ng-model="voiture.nbrePorte" placeholder="Nombre de portes :" type="number" class="form-control" min="0">
                        </div>
                    </div>
                    <!--nbreSiege-->
                    <div class="form-group">
                        <div class="col-md-4 text-right">
                            <label for="nbreSiege" class="text-primary control-label">Nombre de sieges:</label>
                        </div>
                        <div class="col-md-7">
                            <input id="nbreSiege" name="nbreSiege" ng-model="voiture.nbreSiege" placeholder="Nombre de sieges :" type="number" class="form-control" min="0">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <!--<div class="col-md-6 col-xs-12">-->

        <!--</div>-->
    </div>

    </section>
</div>
