<div class="popover fade top in" style="top: -44px; left: 71.0547px; display: block;">
    <div class="arrow"></div>
    <h3 class="popover-title">Etes vous sur?</h3>
    <div class="popover-content text-center">
        <div class="btn-group">
            <a class="btn btn-small btn-primary" href="#" target="_self">
                <i class="icon-ok-sign icon-white"></i> Yes
            </a>
            <a class="btn btn-small" data-dismiss="confirmation">
                <i class="icon-remove-sign"></i> No
            </a>
        </div>
    </div>
</div>