<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Parametrage Boitier</h4>
                    <form id="login-form" action="#" method="post" role="form" name="formConnexion">
                        <label for="libelleBoitier">Nom de la boitier</label>
                        <div class="form-group">
                            <input type="text" name="libelleBoitier" id="libelleBoitier" tabindex="1" class="form-control" placeholder="Nom de la boitier" ng-model="newBoitier.libelleBoitier">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>