<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 form-login">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Inscription</h4>
                    <form id="inscription-form" action="http://phpoll.com/register/process" method="post" role="form" name="formInscription">
                        <div class="form-group">
                            <input type="text" name="nom_proprietaire" id="nom_proprietaire" tabindex="1" class="form-control" placeholder="Nom" value="">
                        </div>

                        <div class="form-group">
                            <input type="text" name="prenom_proprietaire" id="prenom_proprietaire" tabindex="1" class="form-control" placeholder="Prenom" value="">
                        </div>

                        <div class="form-group" ng-class="{'has-error':formInscription.email.$dirty && formInscription.email.$invalid,'has-success':formInscription.email.$dirty && formInscription.email.$valid}">
                            <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Adresse Email" ng-model="email">
                            <span ng-show="formInscription.email.$dirty && formInscription.email.$invalid">
                                Cette adresse est invalide.
                            </span>
                        </div>

                        <div class="form-group" ng-class="{'has-error':formInscription.password.$dirty && formInscription.password.$invalid,'has-success':formInscription.password.$dirty && formInscription.password.$valid}">
                            <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" ng-model="password" ng-minlength="1">
                            <span ng-show="formInscription.password.$dirty && formInscription.password.$error.minlength">
                                La longueur est invalide
                            </span>
                        </div>
                        <div class="form-group" ng-class="{'has-error':formInscription.confirmationPassword.$dirty && formInscription.confirmationPassword.$invalid,'has-success':formInscription.confirmationPassword.$dirty && formInscription.confirmationPassword.$valid}">
                            <input type="password" name="confirmationPassword" id="confirmationPassword" tabindex="2" class="form-control" placeholder="Confirmation Password" ng-model="confirmationPassword" equals-to="formInscription.password">
                            <span class="text-danger" ng-show="formInscription.confirmationPassword.$invalid">
                                Les deux password doivent etre identiques
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-info" value="Enregistrer" ng-disabled="formInscription.$invalid">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>