<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 form-login">
            <div class="row header">
                <h1>Connexion</h1>
            </div>
            <form class="form-horizontal" role="form" name="form" novalidate>

                <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid  && formSubmit }">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Adresse email" ng-model="user.email" required>
                    <p ng-show="form.email.$invalid  && formSubmit" class="help-block">Adresse email obligatoire.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid  && formSubmit }">
                    <input type="password" hide-show-password="" class="form-control" id="password"
                           placeholder="Mot de passe" ng-model="user.password" name="password" required>
                    <span class="show-pass form-control-feedback icon-eye"></span>
                    <p ng-show="form.password.$invalid  && formSubmit" class="help-block">Mot de passe obligatoire.</p>
                </div>
                <div class="row form-group" style="text-align:center">

                    <div class="col-md-6">
                        <label class="cursor" ng-click="goToPasswordForgotten()">
                            Mot de passe oublié
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="checkbox" for="checkbox-reg" style="padding-left: 0px;">
                            <input type="checkbox" data-toggle="checkbox" check-data="" value="" id="checkbox-reg" class="custom-checkbox ng-pristine ng-valid" ng-model="user.rememberMe"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                            Se souvenir de moi
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" id="login" class="btn btn-embossed btn-dark-green btn-primary" ng-click="login(user,form.$valid)">Se connecter</button>
                </div>
                <div style="text-align:center">

                    <label ng-click="goToInscription()" class="cursor"> Vous n'avez pas un compte? Créer un compte Gratuit</label>

                </div>
            </form>
        </div>
    </div>
</div>