<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 form-login">
            <div class="row header" class="center-block">
                <h1 class="text-center">Connexion</h1>
            </div>
            <form class="form-horizontal" role="form" name="form" novalidate>

                <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid  && formSubmit }">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Adresse email" ng-model="user.email" required>
                    <p ng-show="form.email.$invalid  && formSubmit" class="help-block">Adresse email obligatoire.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid  && formSubmit }">
                    <input type="password" hide-show-password="" class="form-control" id="password"
                           placeholder="Mot de passe" ng-model="user.password" name="password" required>
                    <span class="show-pass form-control-feedback icon-eye"></span>
                    <p ng-show="form.password.$invalid  && formSubmit" class="help-block">Mot de passe obligatoire.</p>
                </div>

                <div>
                    <button type="submit" id="login" class="btn btn-embossed btn-dark-green btn-primary center-block" ng-click="login(user,form.$valid)">Se connecter</button>
                </div>

                <div style="text-align:center">
                    <label ng-click="goToPasswordForgotten()" class="cursorPointer mtop10">
                        Mot de passe oublié
                    </label>
                </div>    

                <div style="text-align:center" class="mtop10">
                    <label ng-click="goToInscription()" class="cursorPointer"> Vous n'avez pas un compte</label>
                </div>
            </form>
        </div>
    </div>
</div>