<div class="container">
    <div class="row">

        <div class="col-md-3">
            <p class="lead">Categories</p>
            <div class="list-group" ng-repeat="categorie in categories">
                <a href="#" class="list-group-item">//categorie.libelleCategorie//</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="#" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="#" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="#" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-3 col-lg-3 col-md-3" ng-repeat="voiture in voitures">
                    <div class="vedette thumbnail" ng-click="showVoiture(voiture.id)">
                        <img src="//voiture.imagePrincipale.webPath//" alt="//voiture.imagePrincipale.imageName//">
                        <div class="caption">
                            <h5><strong>Marque:</strong>//voiture.modeleMarque.marque.libelleMarque//-//voiture.modeleMarque.modele.libelleModele//</h5>
                            <h5><strong>Prix:</strong> //voiture.prix// GNF</h5>
                            <h5><strong>Km Parc.:</strong> //voiture.kmParcouru//</h5>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>




