<div class="container-fluid">
    <div class="row">

        <div class="col-md-2">
            <div class="row header" class="center-block">
                <h4 class="text-left">Recherche</h4>
            </div>
            <form class="form-horizontal" role="form" name="form" novalidate>
                <!--mot cle-->
                <div class="form-group" ng-hide="advancedSearch">
                      <input type="text" class="form-control" placeholder="Mot clé" ng-model="search.key">
                </div>
                <!--marque-->
                <div class="form-group" ng-show="advancedSearch">
                    <select class="form-control" id="marque" ng-model="search.marque" name="marque"
                            ng-options="marque.libelleMarque for marque in marques track by marque.id"
                            ng-change="selectMarque(search.marque)" required>
                            <option value="">Marque</option>
                    </select>
                </div>
                <!--Modele-->
                <div class="form-group" ng-show="advancedSearch">
                    <select class="form-control" id="modele" ng-model="search.modele" name="modele"
                            ng-options="modele.libelleModele for modele in modeles track by modele.id"
                            ng-change="selectModele(voiture.modele)" required>
                            <option value="">Modele</option>
                    </select>
                </div>
                <!--boitier-->
                <div class="form-group" ng-show="advancedSearch">
                    <select class="form-control" id="boitier" ng-model="search.boitier" name="boitier"
                            ng-options="boitier.libelleBoitier for boitier in boitiers track by boitier.id"
                            ng-change="selectBoitier(search.boitier)" required>
                            <option value="">Boitier</option>
                    </select>
                </div>
                <!--carburant-->
                <div class="form-group" ng-show="advancedSearch">
                    <select class="form-control" id="carburant" ng-model="search.carburant" name="carburant"
                            ng-options="carburant.libelleCarburant for carburant in carburants track by carburant.id"
                            ng-change="selectCarburant(search.carburant)" required>
                            <option value="">Carburant</option>
                    </select>
                </div>
                <!--Prix-->
                <div class="form-group" ng-show="advancedSearch">
                    <div class="center-block">
                        <label for="prix" class="control-label">Prix :</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <input id="prix" name="prix" ng-model="search.prixMin" placeholder="Min" type="number" class="form-control col-md-1" min="0">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <input id="prix" name="prix" ng-model="search.prixMax" placeholder="Max" type="number" class="form-control col-md-1" min="0">
                    </div>
                </div>
                <!--kmParcouru-->
                <div class="form-group" ng-show="advancedSearch">
                    <div class="center-block">
                        <label for="kmParcouru" class="control-label">Kilométrage :</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <input id="kmParcouru" name="kmParcouru" ng-model="search.kmMin" placeholder="Min" type="number" class="form-control col-md-1" min="0" max="999999">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <input id="kmParcouru" name="kmParcouru" ng-model="search.kmMax" placeholder="Max" type="number" class="form-control col-md-1" min="0" max="999999">
                    </div>
                </div>
                <p class="text-right cursorPointer" ng-click="advanced()">//advancedSearchText//</p>
                <button type="button" ng-click="search(search)" class="btn btn-primary btn-block">Rechercher</button>
            </form>
        </div>

        <div class="col-md-9">
            <div class="row">

                <div class="col-sm-3 col-lg-3 col-md-3" ng-repeat="voiture in voitures">
                    <div class="vedette thumbnail" ng-click="showVoiture(voiture.id)">
                        <img ng-src="//voiture.imagePrincipale.downloadUrl//" alt="//voiture.imagePrincipale.imageName//">
                        <div class="caption">
                            <h5><strong>Marque:</strong>//voiture.modeleMarque.marque.libelleMarque//-//voiture.modeleMarque.modele.libelleModele//</h5>
                            <h5><strong>Prix:</strong> //voiture.prix// GNF</h5>
                            <h5><strong>Km Parc.:</strong> //voiture.kmParcouru//</h5>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>




