<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Parametrage Marque</h4>
                    <form id="login-form" method="post" role="form" name="form" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : form.libelle.$invalid  && formSubmit }">
                            <div class="col-sm-12">
                                <label for="libelleMarque">Nom de la marque</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="libelle" id="libelleMarque" tabindex="1" class="form-control"
                                       placeholder="Nom de la marque" ng-model="marque.libelleMarque" required>
                                <p ng-show="form.libelle.$invalid && formSubmit" class="help-block">Le libelle est obligatoire.</p>
                            </div>
                            <div class="col-sm-4">
                                <button class="form-control btn btn-info" ng-click="create(marque,form.$valid)"> Enregistrer</button>
                            </div>
                        </div>
                    </form>
                    <div class="panel panel-default">
                        <div class="panel-heading">Liste Marques</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nom Marque</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="marque in marques">
                                        <th scope="row">//$index+1//</th>
                                        <td ng-class="{ 'danger' : upForm.libelle.$invalid  && upformSubmit }">
                                            <span ng-hide="marque.visible">//marque.libelleMarque//</span>
                                            <form novalidate name="upForm">
                                                <input type="text" ng-show="marque.visible" ng-model="marque.libelleMarque" name="libelle" required>
                                                <p ng-show="upForm.libelle.$invalid && upformSubmit" class="help-block">Le libelle est obligatoire.</p>
                                            </form>
                                        </td>
                                        <td><button ng-hide="marque.visible" ng-click="update(marque)" class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i> Modifier</button><button ng-show="marque.visible" ng-click="valideUpdate(marque,upForm.$valid)" class="btn btn-info"><i class="glyphicon glyphicon-floppy-saved"></i> Valider</button></td>
                                        <td><button ng-click="delete(marque)" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Supprimer</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>