<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Parametrage Marque</h4>
                    <form id="login-form" action="#" method="post" role="form" name="formConnexion">
                        <label for="libelleMarque">Nom de la marque</label>
                        <div class="form-group">
                            <input type="text" name="libelleMarque" id="libelleMarque" tabindex="1" class="form-control" placeholder="Nom de la marque" ng-model="newMarque.libelleMarque">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>