<div class="container" infinite-scroll="Paging()" infinite-scroll-disabled="isLoad">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Parametrage des Modele</h4>
                    <form id="login-form" role="form" name="form" novalidate class="form-login">
                        <div class="col-sm-4">
                            <div class="form-group" ng-class="{ 'has-error' : form.libelle.$invalid  && formSubmit }">
                                <label for="libelleModele">Nom du modele</label>
                                <input type="text" name="libelle" id="libelleModele" tabindex="1" class="form-control"
                                       placeholder="Nom du modele" ng-model="modele.libelleModele" required>
                                <p ng-show="form.libelle.$invalid && formSubmit" class="help-block">Le libelle est obligatoire.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" ng-class="{ 'has-error' : form.marque.$invalid  && formSubmit }">
                                <label for="marque" class="control-label">Selectionner une marque</label>
                                <select class="form-control" tabindex="2" id="marque" ng-model="modeleMarque.marque" name="marque"
                                        ng-options="marque.libelleMarque
                                            for marque in marques track by marque.id" required>
                                </select>
                                <p ng-show="form.marque.$invalid && formSubmit" class="help-block">Selectionner une marque.</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                                <label for="anneeModele">Annee modele</label>
                                <input type="text" name="anneeModele" id="anneeModele" tabindex="3" class="form-control"
                                       type="number" class="form-control" min="1900" max="//currentYear//"
                                       placeholder="Annee modele" ng-model="modeleMarque.anneeModele">
                        </div>
                        <div class="col-sm-2">
                            <label for="anneeModele"></label>
                                <button class="center-block btn-md btn-info" ng-click="create(modeleMarque,modele,form.$valid)"><i class="glyphicon glyphicon-save"></i>Valider</button>
                        </div>
                    </form>
                    <div class="panel panel-default">
                        <div class="panel-body">
                    <form novalidate name="upForm">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom Modele</th>
                                <th>Marque</th>
                                <th>Annee Modele</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="modeleMarque in modeleMarques|orderBy:'marque.libelleMarque'">
                                <th scope="row">//$index+1//</th>
                                <td ng-class="{ 'danger' : upForm.libelle.$invalid  && upformSubmit }">
                                    <span ng-hide="modeleMarque.visible">//modeleMarque.modele.libelleModele//</span>
                                    <input type="text" ng-show="modeleMarque.visible" name="libelle" ng-model="modeleMarque.modele.libelleModele" required>
                                    <p ng-show="upForm.libelle.$invalid && upformSubmit" class="help-block">Le libelle est obligatoire.</p>
                                </td>
                                <td ng-class="{ 'danger' : upForm.marque.$invalid  && upformSubmit }">
                                    <span ng-hide="modeleMarque.visible">//modeleMarque.marque.libelleMarque//</span>
                                    <select class="form-control" ng-show="modeleMarque.visible" ng-model="modeleMarque.marque"
                                            ng-options="marque.libelleMarque
                                                for marque in marques track by marque.id" required name="marque">
                                    </select>
                                    <p ng-show="upForm.marque.$invalid && upformSubmit" class="help-block">Selectionner une marque.</p>
                                </td>
                                <td 
                                    <span ng-hide="modeleMarque.visible">//modeleMarque.anneeModele//</span>
                                    <input type="text" ng-show="modeleMarque.visible" name="anneeModele" ng-model="modeleMarque.anneeModele">
                                </td>

                                <td>
                                    <button ng-hide="modeleMarque.visible" ng-click="update(modeleMarque)" class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i> <span class="hidden-xs">Modifier</span></button>
                                    <button ng-show="modeleMarque.visible" ng-click="valideUpdate(modeleMarque,upForm.$valid)" class="btn btn-info"><i class="glyphicon glyphicon-floppy-saved"></i> <span class="hidden-xs">>Valider</span></button>
                                </td>
                                <td>
                                    <button ng-click="delete(modeleMarque)" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> <span class="hidden-xs">Supprimer</span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>