<div class="container">
    <div class="col-lg-12 col-sm-12">
        <button class="btn btn-primary" ng-click="editVoiture(voiture.id)" ng-show="isAuthorizedEdit(voiture.user.id)">Modifier</button>
        <button class="btn btn-success" ng-click="manifesterInteret()" ng-hide="isAuthorizedEdit(voiture.user.id)">Je suis intéressé</button>
        <hr>
    </div>
    <!-- Voiture Detail -->

    <div class="col-lg-12 col-sm-12 hero-feature">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <nt-images-voiture image-principale="voiture.imagePrincipale" images="voiture.images"></nt-images-voiture>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">

                    <div class="well product-short-detail">
                        <div class="row">
                            <!-- Prix -->
                            <div class="the-list">
                                <h3 class="col-xs-12">
                                    // voiture.prix|separateurMillier // GNF
                                </h3>
                            </div>
                            <!-- End prix -->
                            <!-- marque modele -->
                            <div class="the-list">
                                <div class="col-xs-4">Marque</div>
                                <div class="col-xs-8">
                                    <span class="green">//voiture.modeleMarque.marque.libelleMarque// - //voiture.modeleMarque.modele.libelleModele//</span>
                                </div>
                            </div>
                            <!-- end marque modele -->
                            <!-- boitier -->
                            <div class="the-list">
                                <div class="col-xs-4">Boitier</div>
                                <div class="col-xs-8">
                                    <span>// voiture.boitier.libelleBoitier // </span>
                                </div>
                            </div>
                            <!-- end boitier -->
                            <!-- carburant -->
                            <div class="the-list">
                                <div class="col-xs-4">Carburant</div>
                                <div class="col-xs-8">
                                    <span>// voiture.carburant.libelleCarburant //</span>
                                </div>
                            </div>
                            <!-- end carburant -->
                            <!-- kmParcouru -->
                            <div class="the-list">
                                <div class="col-xs-4">Km Parcouru</div>
                                <div class="col-xs-8">
                                    <span>// voiture.kmParcouru|separateurMillier // Km</span>
                                </div>
                            </div>
                            <!-- end kmParcouru -->
                            <!-- nbrePorte -->
                            <div class="the-list">
                                <div class="col-xs-4">Nombre Portes</div>
                                <div class="col-xs-8">
                                    <span>// voiture.nbrePorte //</span>
                                </div>
                            </div>
                            <!-- end nbrePorte -->
                            <!-- nbreSiege -->
                            <div class="the-list">
                                <div class="col-xs-4">Nombre Places</div>
                                <div class="col-xs-8">
                                    <span>// voiture.nbreSiege //</span>
                                </div>
                            </div>
                            <!-- end nbreSiege -->

                            <div class="clearfix"></div>
                            <hr/>

                            <div class="the-list">
                                <h3 class="col-xs-12">
                                    Propriétaire
                                </h3>
                            </div>
                            <!-- nomUser -->
                            <div class="the-list">
                                <div class="col-xs-4">Nom</div>
                                <div class="col-xs-8">
                                    <a ui-sref="voitureByUser({idUser:voiture.user.id})"><span>// voiture.user.nomUser //  //voiture.user.prenomUser//</span></a>
                                </div>
                            </div>
                            <!-- end nomUser -->
                            <!-- Ville -->
                            <div class="the-list">
                                <div class="col-xs-4">Ville</div>
                                <div class="col-xs-8">
                                    <span>// voiture.user.quartier.ville.libelleVille //</span>
                                </div>
                            </div>
                            <!-- end ville -->
                            <!-- Quatier -->
                            <div class="the-list">
                                <div class="col-xs-4">Quartier</div>
                                <div class="col-xs-8">
                                    <span>// voiture.user.quartier.libelleQuartier //</span>
                                </div>
                            </div>
                            <!-- end quartier -->

                            <!-- email -->
                            <div class="the-list">
                                <div class="col-xs-4">Email</div>
                                <div class="col-xs-8">
                                    <span>// voiture.user.email //</span>
                                </div>
                            </div>
                            <!-- end email -->
                            <!-- telephone -->
                            <div class="the-list">
                                <div class="col-xs-4">Telephone</div>
                                <div class="col-xs-8">
                                    <span>// voiture.user.telephone|separateurMillier //</span>
                                </div>
                            </div>
                            <!-- end telephone -->
                            <div class="clearfix"></div>
                            <div class="hr"></div>
                            <!-- description -->
                            <div class="the-list">
                                <h5 class="col-xs-12">
                                    Description
                                </h5>
                            </div>
                            <div class="the-list">
                                <p>//voiture.description//</p>
                            </div>
                            <!-- end description -->

                        </div>
                    </div>

            </div>


            <div class="clearfix"></div><br clear="all"/>

        </div>
    </div>
<!-- End Voiture Detail -->

</div>

