<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Parametrage Ville</h4>
                    <form id="login-form" action="http://phpoll.com/login/process" method="post" role="form" name="formConnexion">
                        <label for="libelleVille">Nom de la ville</label>
                        <div class="form-group">
                            <input type="email" name="libelleVille" id="libelleVille" tabindex="1" class="form-control" placeholder="Nom de la ville" ng-model="newVille.libelleVille">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>