<div class="row">
    <section id="search" class="col-sm-5">
        <form name="formSearch" id="formSearch">
            <div class="row">
                <!--Marque-->
                <div class="row nice-group">
                    <div class="col-sm-3">
                        <label for="marque" class="control-label">Marque</label>
                    </div>
                    <div class="col-sm-9">
                        <select class="form-control" tabindex="0" id="marque" ng-model="search.marque"
                                ng-options="marque.libelleMarque
                                            for marque in marques track by marque.id"
                                ng-change="loadModele(search.marque)">
                        </select>
                    </div>

                </div>
                <!--Modele-->
                <div class="row nice-group">
                    <div class="col-sm-3">
                        <label for="modele" class="control-label">Modele</label>
                    </div>
                    <div class="col-sm-9">
                        <select class="form-control" tabindex="0" id="modele" ng-model="search.modele"
                                ng-options="modele.libelleModele
                                            for modele in modeles track by modele.id">
                        </select>
                    </div>
                </div>
                <!--carburant-->
                <div class="row nice-group">
                    <div class="col-sm-3">
                        <label for="carburant" class="control-label">Carburant</label>
                    </div>
                    <div class="col-sm-9">
                        <select class="form-control" tabindex="0" id="carburant" ng-model="search.carburant"
                                ng-options="carburant.libelleCarburant
                                            for carburant in carburants track by carburant.id">
                        </select>
                    </div>
                </div>
                <!--Prix-->
                <div class="row nice-group">
                    <label class="col-sm-3" class="control-label">Prix</label>
                    <div class="col-sm-4">
                        <input type="text" class="prix" name="prixMin" id="prixMin" tabindex="3" placeholder="Prix Min" ng-model="search.prixMin">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="prix" name="prixMin" id="prixMax" tabindex="4" placeholder="Prix Max" ng-model="search.prixMax">
                    </div>
                </div>
                <!--KmParcouru-->
                <div class="row nice-group">
                    <label class="col-sm-3" class="control-label">Km Parc.</label>
                    <div class="col-sm-4">
                        <input type="text" class="prix" name="KmParcouruMin"  tabindex="3" placeholder="Km Min" ng-model="search.KmParcouruMin">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="prix" name="KmParcouruMax" tabindex="4" placeholder="Km Max" ng-model="search.KmParcouruMax">
                    </div>
                </div>
                <!--Boitier-->
                <div class="row nice-group">
                    <div class="col-sm-3">
                        <label for="boitier" class="control-label">Boitier</label>
                    </div>
                    <div class="col-sm-9">
                        <select class="form-control" tabindex="5" id="boitier" ng-model="search.boitier"
                                ng-options="boitier.libelleBoitier
                                            for boitier in boitiers track by boitier.id">
                        </select>
                    </div>
                </div>
                <!--button enregistrer-->
                <div class="milieu">
                    <button class="milieu btn btn-danger">Rechercher</button>
                </div>
            </div>
        </form>
    </section>
    <section class="col-sm-7">

    </section>
</div>
