<div class="container">
    <div class="row">

        <div class="col-md-9">
            <div class="row">

                <div class="col-sm-3 col-lg-3 col-md-3" ng-repeat="voiture in voitures">
                    <div class="vedette thumbnail" ng-click="showVoiture(voiture.id)">
                        <img src="//voiture.imagePrincipale.downloadUrl//" alt="//voiture.imagePrincipale.imageName//">
                        <div class="caption">
                            <h5><strong>Marque:</strong>//voiture.modeleMarque.marque.libelleMarque//-//voiture.modeleMarque.modele.libelleModele//</h5>
                            <h5><strong>Prix:</strong> //voiture.prix// GNF</h5>
                            <h5><strong>Km Parc.:</strong> //voiture.kmParcouru//</h5>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>




